
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=708d742ec16ba1170a9016fe4f3dc18d
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress